<div>
    <form class="form-signin col" #signInForm="ngForm" novalidate (ngSubmit)="onSubmit(signInForm)">
		<h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
		<input type="text" name="login" ngModel class="form-control" placeholder="Login" required autofocus>
		<input type="password" name="password" ngModel class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	    <p class="alert alert-danger">{{error}}</p>
    </form>
</div>
